html {
    font-family: "Roboto", sans-serif;
}

header {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    background-color: #1e3289;
}

header h1 {
    font-size: 60px;
    margin: 0;
}

header h3 {
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
}

header p {
    line-height: 170%;
    font-size: 20px;
}

@media screen and (min-width: 601px) {
    body p {
        font-size: 20px;
    }
  }

@media screen and (max-width: 600px) {
    body p {
        font-size: 12px;
    }
}

body h2 {
    color: #1e3289;
    font-size: 30px;
    font-weight: bold;
}

#newsHeader {
    color: #db1065;
    font-size: 50px;
    text-align: center;
}

#news {
    /* align-items: center; */
}


/* Tracker charts */

#tracker {
    background-color: rgba(240, 240, 240, 0.925);
    padding: 500px;
}

.columnL {
    margin-left: 100px;
    float: left;
    width: 40%;
    padding: 15px;
}

.columnR {
    margin-right: 100px;
    width: 40%;
    float: right;
    padding: 15px;
}


/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.city {
    text-align: left;
    line-height: 50%;
    padding-top: 20px;
}

.statsHeader {
    font-weight: 550;
}

.chartCanvas {
    flex: auto;
    width: 100%;
    padding: 15px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

hr.solid {
    border-top: 20px solid #1e3289;
    margin-left: 100px;
    margin-right: 100px;
}


/* Good news section */

#tweets {
    height: 5;
}
body {
    background-color: #ffffff;
    text-align: center;
    color: 1e3289;
}

footer {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 10px;
 }
 
 .footerText {
     text-align: center;
    }
    
.contact {
    grid-row: 1 / 2;
}

.contact h2 {
    float: left;
    font-weight: normal;
    font-size: 40px;
    color: white;
    font-family: "Roboto", sans-serif;
}

#contactForm {
    float: right; 
}

.logos{
    clear: both;
    align-items: stretch;
}


i { color: white; } 

.containerForm{
   align-items: center;
}

#emailInput {
    width: 500px;
    height: 55px;
    border-radius: 40px;
    margin-bottom: 20px;
    border-color: #1e3289;
    border-width: 5px;
}

input{
    font-size: 35px;
    padding: 20px;
}


#signUpBtn {
    margin-left: 33%;
    background-color: #1e3289;
    border-color: #142988;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#signUpBtn:hover {
    background-color: #2fbdf5;
}

